@font-face{
    font-family: "SwissBT";
    src: url("/fonts/Swiss721ExtendedBT.woff2") format("woff2"),
         url("/fonts/Swiss721ExtendedBT.woff") format("woff"),
         url("/fonts/Swiss721ExtendedBT.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/*@import url('https://fonts.cdnfonts.com/css/amazon-ember');*/

:root {
    --azul-principal: #0A2A66;
    --azul-secundario: #1a4b8c;
    --cinza-claro: #f8fafc;
    --cinza-texto: #374151;
    --ocean: #0FC1B7;
    --cinza-escuro: #3A3A3A;
    /* Fontes */
    --font-logo: "SwissBT", sans-serif;
    --font-amazon: "Amazon Ember", sans-serif;
}

/* reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: var(--font-body), sans-serif;
}


       .header-top {
            background-color: var(--azul-principal);
            padding: 8px 20px;
            display: flex;
            justify-content: flex-end;
        }

        .header-top-container {
            max-width: 1200px;
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: flex-end;
            gap: 25px;
        }

        .header-top a {
            color: white;
            text-decoration: none;
            font-size: 0.85rem;
            display: flex;
            align-items: center;
            gap: 8px;
            transition: opacity 0.3s;
            font-family: var(--font-inter), sans-serif;
        }

        .header-top a:hover {
            opacity: 0.8;
        }

        .language-flags {
            display: flex;
            gap: 10px;
            align-items: center;
        }

        .language-flags Image {
            border-radius: 2px;
        }

        /* Header Principal */
        .header-main {
            background-color: white;
            padding: 15px 20px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            position: sticky;
            top: 0;
            z-index: 100;
        }

        .header-container {
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .logo-container {
            display: flex;
            align-items: center;
            gap: 15px;
        }

        .logo-inf {
            height: 50px;
        }

        .site-title {
            font-family: var(--font-logo), sans-serif;
            font-size: 32px;
            color: black;
            font-weight: 200;
        }

        .site-title strong {
            font-weight: 600;
            color: var(--ocean);
        }

        .nav-main {
            display: flex;
            gap: 30px;
        }

        .nav-link {
            color: var(--azul-principal);
            text-decoration: none;
            font-weight: 600;
            transition: color 0.3s;
            font-size: 0.96rem;
            font-family: var(--font-amazon);
            text-transform: uppercase;
        }

        .nav-link:hover {
            color: var(--ocean);
        }


.carousel {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.swiper {
  width: 100%;
  height: 400px;
}

.slide-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #f5f5f5;
  border-radius: 8px;
  font-size: 24px;
  color: #333;
}

/* Estilização dos botões de navegação */
.swiper-button-next,
.swiper-button-prev {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.5);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px;
}

/* Estilização da paginação */
.swiper-pagination-bullet {
  background: #999;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #007aff;
}



.btn {
    background-color: var(--azul-principal); /* cor de fundo */
    /*border: black;*/
    /*border: none;  remove borda padrão */
    padding: 10px 20px; /* espaço interno */
    /*border-radius: 8px;  cantos arredondados */
    font-family: var(--font-heading);
    color: white; /* cor do texto */
    font-size: 16px; /* tamanho da fonte */
    cursor: pointer; /* mostra a mãozinha ao passar o mouse */
    transition: background-color 0.3s; /* suaviza a transição */
}


/* cor ao passar o mouse */
.btn:hover{
    background-color: black;
    text-decoration: underline;
}


.section {
    padding: 60px 20px;
    max-width: 1200px;
    margin: 0 auto;
}


.sec-title {
    color: var(--azul-principal);
    font-size: 2.5rem;
    margin-bottom: 40px;
    text-align: center;
    font-family: var(--font-heading);
    position: relative;
}

.sec-title:after {
    content: '';
    display: block;
    width: 80px;
    height: 4px;
    background-color: var(--ocean);
    margin: 15px auto;
}

.institutional-sec-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 60px;
}




.card {
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.card-title{
    color: var(--azul-principal);
    margin-bottom: 15px;
    font-size: 1.5rem;
    font-family: var(--font-logo);
}


.card-text {
    font-family: var(--font-body);
}

.texto-apres {
    width: 100%;
    margin-bottom: 2rem;
}


.texto-apres p {
    font-family: var(--font-body);
    color: var(--cinza-texto); /* gray-700 */
    margin-bottom: 1rem;
}


.map-container {
    display: flex;
    flex: 1;
    max-width: 100%;
    height: 450px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    overflow: hidden;
    flex-direction: column;
    
    /*position: relative;
    width: 100%;
    height: 24rem;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);*/
}


.map-title {
    padding: 20px 20px 10px 20px;
    text-align: center;
}

/*.map-title h3 {
    color: var(--azul-principal);
    font-size: 1.8rem;
    margin-bottom: 0;
    font-family: var(--font-logo);
}*/



.map-frame {
    width: 100%;
    height: 100%;
    border: 0;
    flex-grow: 1;
    /*position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;*/
}


.map-address { /* Estilo para a div que contém o endereço */
    padding: 10px 20px 20px 20px; /* Padding: top, right, bottom, left */
    text-align: center;
}


.location-icon {
  color: #1a73e8; /* Azul do Material Design */
  font-size: 24px;
  flex-shrink: 0;
}


.map-address p {
    color: var(--cinza-texto);
    font-size: 0.95rem;
    line-height: 1.5;
    margin-bottom: 0; /* Remover margem inferior se for o último elemento */
}






.footer-site {
    background-color: rgb(22, 212, 22);
    padding: 2rem 1rem;
}

.footer-columns-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;


}

.brand, .footer-links{
    flex: 1 1 calc(25% - 0px); /* Para 4 colunas, cada uma ocupa 1/4 da largura */
    padding: 2rem 1.5rem; /* Padding interno para o conteúdo */
    box-sizing: border-box; /* Inclui padding na largura/altura */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinha conteúdo ao topo */
}


.brand {
    background-color: rgb(22, 22, 24);
    align-items: center;
    justify-content: center;
}



.footer-img {
    display: flex;
    gap: 0.5rem;
}

.brand-img {
    width: 165px;
    height: auto;
}

.footer-label {
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    margin-top: 0.5rem;
    text-align: center;
}

.footer-links {
    display: flex;
    flex: 1 1 180px;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-title {
    color: white;
    font-size: 1rem;
    /*font-weight: 600;*/
    margin-bottom: 0.5rem;
}

.ft-link-title {
    font-size: 1.05rem;
    font-weight: 500;
    color: white;
    margin-top: 1rem;
}

.footer-link {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s;
}

.footer-link:hover, .ft-link-title:hover {
    color: var(--ocean);
}

.footer-address-copy{

    flex: 1 1 100%;
    margin-top: 2rem;
    text-align: center;
    font-size: 0.9rem;
    line-height: 1.4;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-address-copy .footer-title {
    margin-bottom: 0.5rem;
    font-weight: normal;
}


        /* Responsividade */
        @media (max-width: 1024px) {
            .institutional-sec-content {
                grid-template-columns: 1fr 1fr;
            }
            
            /*.postgrad-cards {
                grid-template-columns: 1fr;
            }*/
        }

        @media (max-width: 768px) {
            .nav-main {
                display: none;
            }
            
            .institutional-sec-content {
                grid-template-columns: 1fr;
            }
            
            /*.carrossel {
                height: 400px;
            }
            
            .carrossel-titulo {
                font-size: 2rem;
            }
            
            .carrossel-descricao {
                font-size: 1rem;
            }*/
        }


/*

@media (min-width: 768px) {
    .institucional {
        flex-direction: row;
        align-items: center;
    }

    .card, .map-container {
        flex: 1;
    }

    .map-container {
        height: 320px;
    }
}
*/